@model IEnumerable<MVCFilmi.Models.Film>

@{
    ViewBag.Title = "Isci";
}

<h2>Isci</h2>

<p>
   @using (Html.BeginForm())
   { 
   <p>Tip: @Html.TextBox("niz")<br/>
    <input type="submit" value="Filter"/>
   </p>
   }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naslov)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Izdano)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cena)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Naslov)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Izdano)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cena)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
